@page
@model FinalProject_ZPloy.Pages.UserAccount.DisplayUserModel
@{
}

@foreach (var user in Model.users)
{
    <h1>Name: @user.UserName</h1>
    <h1>Password: @user.PasswordHash</h1>
    <h1>Description: <\br>@user.Description</h1>
}
