@page
@model FinalProject_ZPloy.Pages.Tasks.ApplicationsModel
@{
}
<p>
    <a class="btn btn-secondary" asp-page="/Tasks/MyTasks"> My Tasks </br> </a>
</p>

<p>
    <a class="btn btn-secondary" asp-page="/Tasks/GetAllTasks"> All Tasks </br> </a>
</p>
</br>
Aplications yo 